---
---
#detailsWrapper {

    hr {
        position: relative;
        border: none;
        padding-bottom: 20px;
    }

    hr:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background: #ccc;
    }

    .headerwrap#portraits {
        background: url("../assets/img/banners/portraits_banner_1.jpg") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .headerwrap#elephant {
        background: url("../assets/img/banners/elephant_banner_1.jpg") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#cybercity {
        background: url("../assets/img/banners/cybercity_banner_2.jpg") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#split {
        background: url("../assets/img/banners/split_banner_1.jpg") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#solimbo {
        background: url("../assets/img/banners/solimbo_banner_3.png") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#renew {
        background: url("../assets/img/banners/renew_kellyshooting_banner.JPG") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#newpioneers {
        background: url("../assets/img/banners/newpioneers_banner_1.jpg") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#steelskull {
        background: url("../assets/img/banners/steelskull_banner_1.png") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#colorrush {
        background: url("../assets/img/banners/colorrush_gameplay_banner.png") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }
    .headerwrap#bitsoffood {
        background: url("../assets/img/banners/bitsoffood_banner_3.png") no-repeat center top;
        overflow: hidden;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
    }

    // .galleryContent {
    // no styles yet
    // }

    .ProjectDetails {
        padding-left: 75px;
    }

    .ProjectDetailsRow {
        // border-top: 2px solid #999;
        padding-left: 75px;
        padding-top: 40px;
    }

    .videowrap {
        margin-top: 40px;
        min-height: 520px;
        iframe {
            width:90%;
            height:550px;
        }
    }

    ul {
        list-style: none;
        font-size: 1.1em;
        font-family: 'Montserrat', sans-serif;
        padding: 1rem;
        li {
            margin-right: 1rem;
            padding: 1rem;
            b {
                font-weight: 700;
            }
        }
    }

    .Sidebar {
        margin-top: 45px;
    }

    .descriptionWrapper {
        margin-right: 20px;
    }

    .NewPioneersWrap {
        padding-top: 20px;
    }
}
