---
---
#projectsWrapper {
    margin-top: 50px;

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .hide {
      animation: fadeOut 150ms ease;
      opacity: 0;
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .hide {
      display: none;
    }

    #row-projects-header {
      margin-left: 1em;
    }

    #projects-nav {
        margin-bottom: 2rem;
        font-size: 1.1em;

        ul {
            list-style: none;
            padding: 1rem;
            margin: 0;
            //display: flex;
            //justify-content: space-around;

            li {
                margin-right: 1rem;
                padding: 1rem;
                cursor: pointer;

                span {
                    -webkit-transition:color .2s;
                    -moz-transition:color .2s;
                    -ms-transition:color .2s;
                    -o-transition:color .2s;
                    transition:color .2s;

                    -webkit-transition:background .2s;
                    -moz-transition:background .2s;
                    -ms-transition:background .2s;
                    -o-transition:background .2s;
                    transition:background .2s;


                }
                span:hover {
                  background: #eee; //light gray #eee //teal 74c9be
                }
            }
//            @media (min-width: 400px) {
//                #ul li {
//                    margin-right: 1rem;
//                    padding: 1rem;
//                }
//            }
            // active class; set on click
            .active {
                color: white;
            }
            .active span {
                -webkit-transition:color .2s;
                -moz-transition:color .2s;
                -ms-transition:color .2s;
                -o-transition:color .2s;
                transition:color .2s;

                -webkit-transition:background .2s;
                -moz-transition:background .2s;
                -ms-transition:background .2s;
                -o-transition:background .2s;
                transition:background .2s;
                background: #444;


            }
            .active span:hover {
                color: #444
            }
        }
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
        justify-items: center;
        // width: 98vw
        margin: 1rem;

        // animation for hover over a project thumbnail
        // replaces b-link-fade b-animate-go
        // .animateMagnify img {
        //     -webkit-transition:all .3s ease-in-out;
        //     -moz-transition:all .3s ease-in-out;
        //     -ms-transition:all .3s ease-in-out;
        //     -o-transition:all .3s ease-in-out;
        //     transition:all .3s ease-in-out;
        // }
        //
        // .animateMagnify img:hover {
        //     transform: scale(1.03);
        // }
    }

    @media (min-width: 500px) {
      .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (min-width: 768px) {
      .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (min-width: 1368px) {
      .grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .image {
      width: 100%;
    }

    @media (min-width: 500px) {
      .image {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      .image {
        width: 100%;
      }
    }
    @media (min-width: 1368px) {
      .image {
        width: 100%;
      }
    }
}
