---
---
#projectsWrapper {
    margin-top: 50px;

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .hide {
      animation: fadeOut 150ms ease;
      opacity: 0;
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .hide {
      display: none;
    }

    #row-projects-header {
      margin-left: 1em;
    }

    #projects-nav {
        margin-bottom: 2rem;
        font-size: 1.1em;

        ul {
            list-style: none;
            padding: 1rem;
            margin: 0;
            //display: flex;
            //justify-content: space-around;

            li {
                margin-right: 1rem;
                padding: 1rem;
                cursor: pointer;

                &:hover {
                  background: #eee;
                }

                #navbarLabel {
                    font-size: 2rem;
                }
            }
//            @media (min-width: 400px) {
//                #ul li {
//                    margin-right: 1rem;
//                    padding: 1rem;
//                }
//            }
            // active class; set on click
            .active {
                background: #444;
                color: white;
                &:hover {
                    color: #444
                }
            }
        }
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
        justify-items: center;
        // width: 98vw
        margin: 1rem;
    }

    @media (min-width: 500px) {
      .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (min-width: 768px) {
      .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (min-width: 1368px) {
      .grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .image {
      width: 100%;
    }

    @media (min-width: 500px) {
      .image {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      .image {
        width: 100%;
      }
    }
    @media (min-width: 1368px) {
      .image {
        width: 100%;
      }
    }
}
