---
layout: default
title: Kelly Wang Portfolio Website
---
<!-- wrapperId maybe not needed -->
<div id="detailsWrapper">
    <div class="headerwrap" id="{{page.id}}">
        <header class="clearfix">
        </header>
    </div><!-- /headerwrap -->
    <div class="page-title-margin-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="descriptionWrapper">
                <div class="col-sm-4 col-md-2">
                    <!-- <div class="list-buffer-top"></div> -->
                    <div class="Sidebar">
                        {% for detail in page.workDetails %}
                        <h4>{{ detail.label }}</h4>
                        <p>{{ detail.data }}</p>
                        {% endfor %}
                        {% for detail in page.extraInfo %}
                        <p>{{ detail.info }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-8 col-md-10 ProjectDetails" id="project-details-desc">
                    <h2>{{ page.workTitle }}</h2>
                    {% for summary in page.summary %}
                    <p>{{ summary.line }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ content }}
    </div>
</div>
